body {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid red;
}

.header {
    display:flex;
    flex-direction: row;
    align-items: center;
    border: solid black;
    width: 400px;
    justify-content: space-around;
    margin-bottom: 20px;

}

.footer {
    display:flex;
    flex-direction: row;
    align-items: center;
    border: solid blue;
    justify-content: space-between;
    width: 500px;
    margin-top: 20px;

}

.container {
    width:500px;
    height: 500px;
    border: solid greenyellow;
}